[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[packages]
psycopg2-binary = "*"
pyyaml = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-html = "*"
pytest-metadata = "*"
pytest-runner = "*"

[requires]
python_version = ">=3.6"



